<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form *ngIf="!successMessage" (ngSubmit)="submit()" #resetForm="ngForm">
        <mat-form-field>
          <input matInput type="password" placeholder="New password" name="newPassword" [(ngModel)]="newPassword"
            required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Reset password</button>
      </form>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

      <p *ngIf="successMessage" class="success">
        {{ successMessage }}
      </p>
    </mat-card-content>
  </mat-card>
</div>

