<div class="card-wrapper">
  <mat-card *ngIf="userPost">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <div class="user-photo-wrapper">
            <img *ngIf="userPost.user.photo !== ''" class="user-photo" [src]="userPost.user.photo" alt="">
            {{ userPost.user.email }}
          </div>
        </mat-card-title>
        <mat-card-subtitle>{{ userPost.location }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <img mat-card-image *ngIf="userPost.photo !== ''" class="public-post-photo" [src]="userPost.photo" alt="User Post Photo">
    <mat-card-content>
      <p>{{ userPost.description }}</p>
      <p>Mood: {{ userPost.mood }}</p>
      <p>Temperature: {{ userPost.temperature }}°C</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="back()">Back</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="!userPost">
    <p>Loading...</p>
  </div>
</div>
