<mat-toolbar>
  <span>Memories</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="publicPosts">Public posts</button>
  <mat-menu #publicPosts="matMenu">
    <a mat-menu-item [routerLink]="'guest/public-posts/random'">Random</a>
    <a mat-menu-item [routerLink]="'guest/public-posts/search'">Search</a>
    <a mat-menu-item [routerLink]="'guest/public-posts/newest'">Newest</a>
    <a mat-menu-item [routerLink]="'guest/public-posts/oldest'">Oldest</a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="account">Account</button>
  <mat-menu #account="matMenu">
    <a mat-menu-item [routerLink]="'signup'">Create account</a>
    <a mat-menu-item [routerLink]="'login'">Log in</a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
