<div class="container">
  <div class="form-wrapper">
    <mat-form-field>
      <input matInput [(ngModel)]="searchQuery" placeholder="Search for user posts">
    </mat-form-field>
    <button class="search-button" mat-raised-button color="primary" (click)="searchPosts()"
      [disabled]="isLoading">Search</button>
  </div>

  <div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="error" *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="searchResults.length > 0">
    <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let post">
          <div [ngClass]="{'truncate': post.description.length > 50}">
            {{ post.description.length > 50 ? (post.description | slice:0:50) + '...' : post.description }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let post">
          <ng-container *ngIf="post.location; else noLocation">{{ post.location }}</ng-container>
          <ng-template #noLocation>No location provided</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="mood">
        <th mat-header-cell *matHeaderCellDef>Mood</th>
        <td mat-cell *matCellDef="let post">{{ post.mood }}</td>
      </ng-container>

      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef>Temperature</th>
        <td mat-cell *matCellDef="let post">{{ post.temperature }}°C</td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let post">
          <ng-container *ngIf="post.photo !== ''; else noPhoto">
            <img class="search-user-posts-photo" [src]="post.photo" alt="Search User Posts Photo">
          </ng-container>
          <ng-template #noPhoto>No photo available</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let post">
          <a mat-button color="primary" [routerLink]="['/user/posts', post._id]">View</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="true" [pageIndex]="currentPage - 1"
      [hidePageSize]="true" (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
